<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirstApp</title>
    {% load static %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
</head>
<body>
    <b>WinZcode World's Best Products Development Community</b>
    <hr>
    <br>
   
    <img src="/static/images/logo.png" alt="logo" height="200" width="200">
    <p>K S Vinod Kumar</p>
    <p>K S Kumar Vinod</p>
    <p>Vinod Kumar K S</p>
</body>
</html>